<%= link_to("<< Back to pages", pages_path, :class => 'back-link') %>

<div class="sections delete">
  <h2>Delete Section</h2>
  <%= form_for(@section, :method => 'delete') do |f| %>
    <p>Are you sure you want to permanently delete this page?</p>
    <p class="reference-name"><%= f.object.name %></p>
    <%# <p class="reference-name"><%= subject.name %>
    <div class="form-buttons">
      <%= f.submit("Delete Section") %>
    </div>
  <% end %>
</div>
