<div class="pages index">
  <h2>Pages</h2>
  <%= link_to("Add new Page", new_page_path, :class => "action new") %>
  <table class="listing" summary="Pages list">
    <tr class="header">
      <th>#</th>
      <th>Page</th>
      <th>Permalink</th>
      <th>Visible</th>
      <th>Admin Users</th>
      <th>Actions</th>
    </tr>
    <% @pages.each do |page| %>
      <tr>
        <td><%= page.position %></td>
        <td><%= page.name %></td>
        <td><%= page.permalink %></td>
        <td class="center"><%= status_tag(page.visible) %></td>
        <td class="center"><%= page.admin_users.size %></td>
        <td class="actions">
          <%= link_to("Show", { :controller => 'pages', :action => 'show', :id => page.id }, :class => "action show") %>
          <%= link_to("Edit", edit_page_path(page), :class => "action edit") %>
          <%= link_to("Delete", delete_page_path(page), :class => "action delete") %>
        </td>
      </tr>
    <% end %>
  </table>
</div>