<%= link_to("<< Back to pages", pages_path, :class => "back-link") %>
<div class="pages show">
  <h2>Show Page</h2>
  <table summary="Page detail view">
    <tr>
      <th>Name</th>
      <td><%= @page.name %>
    </tr>
    <tr>
      <th>Position</th>
      <td><%= @page.position %>
    </tr>
    <tr>
      <th>Visible?</th>
      <td><%= @page.visible ? 'true' : 'false' %>
    </tr>
    <tr>
      <th>Permalink</th>
      <td><%= @page.permalink %>
    </tr>
    <tr>
      <th>Created</th>
      <td><%= @page.created_at %>
    </tr>
    <tr>
      <th>Updated</th>
      <td><%= @page.updated_at %>
    </tr>
  </table>
</div>